<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>게시판</title>
<link rel="stylesheet" href="../css/boardStyle.css">
<script src="../module/boardList.js"></script>
</head>


<body onload="onReady()">
	<header>
		<div class="board_title">
			<strong>게시판 목록</strong>
		</div>
	</header>
	<nav class="board_nav">
		<div class="btn_wrap">

			<input type="text" id="searchWriter"> <input type="text"
				id="searchText">
			<input type="button" id="searchBnt"
				class="" value="조회">
			<input type="button" class="btn_signUp"
				value="등록">
			<!--        <a href="#" class="btn_select">조회</a>-->
			<!--        <a href="#" class="btn_signUp">등록</a>-->
		</div>
		<div>
			<input type="text" id="searchTitle">
			<textarea id="textArea" name="boardview" rows="4" cols="50">
		</textarea>
			<input type="button" id="submitBnt" value="등록">
		</div>

	</nav>


	<div class="board_list_wrap">
		<div class="board_list">
			<div class="board_list_head">
				<div class="num">번호</div>
				<div class="title">제목</div>
				<div class="date">등록일자</div>
				<div class="writer">등록자</div>
				<div class="cnt">조회</div>
			</div>
			<!-- board_list_head-->
			<!--일단 tag로 값 채워넣기 차후 서버에서 값 가져오기  -->
			<div class="board_list_body" id="result"></div>
			<!-- End board_body-->
		</div>
		<!-- End board_list-->
		<div class="paging">
			<a href="#" class="bt first">처음 페이지</a> <a href="#" class="bt prev">이전
				페이지</a> <a href="#" class="num">1</a> <a href="#" class="num">2</a> <a
				href="#" class="num">3</a> <a href="#" class="bt next">다음 페이지</a> <a
				href="#" class="bt last">마지막 페이지</a>
		</div>
		<!--end paging -->
	</div>
	<!-- End board_list_wrap-->


</body>
</html>