<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fecloud.edu.shin.BoardMapper">

	<select id="findAll" resultType="map" parameterType="map">  
	SELECT BNO AS "bno",
	       TITLE AS "title", 
	       CONTENT AS "content",
	       WRITER AS "writer",
	       REG_DATE AS 'reg_date'
	  FROM BOARD 
	 WHERE (TITLE LIKE CONCAT('%', #{searchTxt}, '%')
	    OR CONTENT LIKE CONCAT('%', #{searchTxt}, '%'))
	    AND WRITER LIKE CONCAT('%', #{searchWrite}, '%')
	  	ORDER BY BNO DESC
	</select>
	
	<select id="editfind" resultType="map" parameterType="map">  
	SELECT TITLE AS "title", 
	       CONTENT AS "content",
	       WRITER AS "writer",
	  FROM BOARD 
	 WHERE BNO =#{bno}
	  
	</select>
	

	<insert id="create" parameterType="map">
		INSERT INTO BOARD ( TITLE, CONTENT, WRITER, REG_DATE) 
		VALUES (#{title}, #{content},'관리자', now()) 
	</insert>
	
	<update id="update" parameterType="map">
		UPDATE BOARD 
			SET TITLE=	#{title}, 
				CONTENT=#{content}
				REG_DATE = now()
			WHERE BNO =#{bno}
	</update>
	
	<delete id="delete" parameterType='map'>
		DELETE
			FROM BOARD
			WHERE BNO =#{bno}
	</delete>
	
	
	<!-- insert query 
	<insert id="putSample" parameterType="map">
		<selectKey keyProperty="seq" resultType="String" order="BEFORE">
			 select nextval(edu_seq) AS seq
		</selectKey>
		INSERT INTO education (
			  seq
			, title
			, content
			, readcnt`
			, commentcnt
			, recommendcnt
			, groupnum
			, levelnum
			, stepnum
			, inip
			, indate
		) VALUES (
			  #{seq}
			, #{title}
			, #{content}
			, 0
			, 0
			, 0
			, 0
			, 0
			, 0
			, 0
			, null
		)
	
	</insert>
	-->
</mapper>