@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: inherit;
}


/*header*/
.board_title{
    margin-bottom: 20px;
}
.board_title {
    font-size: 2rem;
    margin: 10px
}
/*End header*/

/*nav*/
.btn_wrap{
    float: right;
}
.btn_select, btn_{
    display: inline-block;
    min-width: 50px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 2px;
    font-size: 15px;
    text-align: center;
}
.btn_wrap a:first-child{
    margin-right: 0;
}
.btn_wrap input.btn_select{
    background-color: black;
    color: #cccccc;
}


/*End nav */r


.board_list_wrap{
    padding: 50px;
}
/*상단 head 선*/
.board_list_head{
    border-top: 2px solid darkcyan;
    border-bottom: 1px solid gray;
}
/*board list body 각 item 선*/
.board_list_body .item{
    border-bottom: 1px solid gray;
}

.board_list_head,
.board_list_body .item{
    font-size: 0;
    padding: 10px 0;
}

.board_list_head > div,
.board_list_body .item > div{
    display: inline-block;
    background-color: yellow;
    font-size: 14px;
    text-align: center;
}
/*head 안 div 글씨 굵기 */
.board_list_head > div {
    font-weight: 700;
}

.board_list_head,
.board_list_body .item{
    padding:10px ;
}

.board_list .title {
    width: 55%;
}
.board_list .num  {
    width: 10%;
}
.board_list_body .title a:hover {
    text-decoration: underline;
}
.board_list .board_list_body div.title{
    text-align: left;
}
.board_list .writer {
    width: 10%;
}
.board_list .date {
    width: 15%;
}
.board_list .cnt {
    width: 10%;
}

/*paging */
.paging {
    margin-top: 30px;
    text-align: center;
}

.paging a{
    display: inline-block;
}

/*
.paging a.first,
.paging a.prev,
.paging a.next,
.paging a.last {
    width: 30px;
    height: 30px;
    background-color: #ccc;
    background-image:url("../img/page_bt.png");
    background-repeat: no-repeat;
    border-radius: 100px;
    text-indent: -1000px;
    overflow: hidden;

}
*/
.paging a.bt{
    width: 30px;
    height: 30px;
    background-color: #ccc;
    background-image:url("../img/page_bt.png");
    background-repeat: no-repeat;
    border-radius: 100px;
    text-indent: -1000px;
    overflow: hidden;

}
.paging a.bt:hover {
    background-color: gray;
}

.paging a.first{
    background-position: 10px -40px;
}
.paging a.prev{

    background-position: 10px 10px;
}
.paging a.next{
    background-position: -40px 10px;
}
.paging a.last{
    background-position: -40px -40px;
}

.paging a.num{
    margin: 0 5px;
    text-align: center;
}
.paging a.num:hover{
    text-decoration: underline;
}
